wsdl-client/src/main/java/ru/renue/fns/wsdl/client/kkt.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn://x-artefacts-gnivc-ru/inplat/servin/OpenApiAsyncMessageConsumerService/1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="urn://x-artefacts-gnivc-ru/inplat/servin/OpenApiAsyncMessageConsumerService/types/1.0" name="OpenApiAsyncMessageConsumerService" targetNamespace="urn://x-artefacts-gnivc-ru/inplat/servin/OpenApiAsyncMessageConsumerService/1.0">
  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                 xmlns:tns="urn://x-artefacts-gnivc-ru/inplat/servin/OpenApiAsyncMessageConsumerService/types/1.0"
                 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                 xmlns:ns1="urn://x-artefacts-gnivc-ru/inplat/servin/OpenApiAsyncMessageConsumerService/types/1.0"
                 elementFormDefault="qualified"
                 targetNamespace="urn://x-artefacts-gnivc-ru/inplat/servin/OpenApiAsyncMessageConsumerService/types/1.0"
                 version="1.0">
	
      
  <xs:element name="MessageNotFoundFault" type="tns:MessageNotFoundFault"/>

      
  <xs:complexType name="MessageNotFoundFault">
        
    <xs:annotation>
          
      <xs:documentation>Сообщение не найдено</xs:documentation>
        
    </xs:annotation>
      
  </xs:complexType>
	  
	  
  <xs:element name="AuthenticationFault" type="tns:AuthenticationFault"/>
	
      
  <xs:complexType name="AuthenticationFault">
        
    <xs:annotation>
          
      <xs:documentation>Ошибка проверки подлинности</xs:documentation>
        
    </xs:annotation>
      
  </xs:complexType>
	  
      
  <xs:simpleType name="ProcessingStatuses">
        
    <xs:restriction base="xs:string">
          
      <xs:enumeration value="PROCESSING"/>
          
      <xs:enumeration value="COMPLETED"/>
        
    </xs:restriction>
      
  </xs:simpleType>

      
  <xs:element name="GetMessageRequest">
        
    <xs:complexType>
          
      <xs:sequence>
            
        <xs:element maxOccurs="1" minOccurs="1" name="MessageId" type="xs:string">
              
          <xs:annotation>
                
            <xs:documentation>Идентификатор сообщения</xs:documentation>
              
          </xs:annotation>
            
        </xs:element>
          
      </xs:sequence>
        
    </xs:complexType>
      
  </xs:element>

      
  <xs:element name="GetMessageResponse">
        
    <xs:complexType>
          
      <xs:sequence>
            
        <xs:element maxOccurs="1" minOccurs="1" name="ProcessingStatus" type="tns:ProcessingStatuses"/>
            
        <xs:element maxOccurs="1" minOccurs="0" name="Message">
              
          <xs:complexType>
                
            <xs:sequence>
                  
              <xs:any namespace="##other" processContents="skip"/>
                
            </xs:sequence>
              
          </xs:complexType>
            
        </xs:element>
          
      </xs:sequence>
        
    </xs:complexType>
      
  </xs:element>

      
  <xs:element name="SendMessageRequest">
        
    <xs:complexType>
          
      <xs:sequence>
            
        <xs:element maxOccurs="1" minOccurs="1" name="Message">
              
          <xs:complexType>
                
            <xs:sequence>
                  
              <xs:any namespace="##other" processContents="skip"/>
                
            </xs:sequence>
              
          </xs:complexType>
            
        </xs:element>
          
      </xs:sequence>
        
    </xs:complexType>
      
  </xs:element>

      
  <xs:element name="SendMessageResponse">
        
    <xs:complexType>
          
      <xs:sequence>
            
        <xs:element maxOccurs="1" minOccurs="1" name="MessageId" type="xs:string">
              
          <xs:annotation>
                
            <xs:documentation>Идентификатор сообщения</xs:documentation>
              
          </xs:annotation>
            
        </xs:element>
          
      </xs:sequence>
        
    </xs:complexType>
      
  </xs:element>

    
</xs:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticationException">
    <wsdl:part element="ns1:AuthenticationFault" name="AuthenticationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MessageNotFoundException">
    <wsdl:part element="ns1:MessageNotFoundFault" name="MessageNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SendMessageResponse">
    <wsdl:part element="ns1:SendMessageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetMessageResponse">
    <wsdl:part element="ns1:GetMessageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetMessageRequest">
    <wsdl:part element="ns1:GetMessageRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SendMessageRequest">
    <wsdl:part element="ns1:SendMessageRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OpenApiAsyncMessageConsumerServicePortType">
    <wsdl:operation name="GetMessage">
      <wsdl:input message="tns:GetMessageRequest" name="GetMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetMessageResponse" name="GetMessageResponse">
    </wsdl:output>
      <wsdl:fault message="tns:MessageNotFoundException" name="MessageNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:AuthenticationException" name="AuthenticationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageRequest" name="SendMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:SendMessageResponse" name="SendMessageResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AuthenticationException" name="AuthenticationException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OpenApiAsyncMessageConsumerServiceSoapBinding" type="tns:OpenApiAsyncMessageConsumerServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="urn:GetMessageRequest" style="document"/>
      <wsdl:input name="GetMessageRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetMessageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MessageNotFoundException">
        <soap:fault name="MessageNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="urn:SendMessageRequest" style="document"/>
      <wsdl:input name="SendMessageRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SendMessageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AuthenticationException">
        <soap:fault name="AuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OpenApiAsyncMessageConsumerService">
    <wsdl:port binding="tns:OpenApiAsyncMessageConsumerServiceSoapBinding" name="OpenApiAsyncMessageConsumerServiceEndpoint">
      <soap:address location="https://openapi.nalog.ru:8090/open-api/ais3/KktService/0.1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>